.app {
    display: flex;
    justify-content: space-between;
  }
  
  .left-side-bar,
  .right-side-bar {
    flex: 1;
    padding: 20px;
  }
  
  .left-side-bar {
    background-color: #f0f0f0;
  }
  
  .right-side-bar {
    background-color: #fff;
  }
  
  /* Adjustments for smaller screens */
  @media screen and (max-width: 768px) {
    .app {
      flex-direction: column;
    }
  
    .left-side-bar,
    .right-side-bar {
      width: 100%;
    }
  }
  